*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72vh;
    gap:18px;
    font-family:monospace ;

}
.inicio{
    display:block;
}
.contenedor-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.btn{
    font-size: large;
    font-weight: 700;
    
}
.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    z-index: 1;
  }
  
  .btn:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: #1233ab;
    z-index: -1;
    color:#fff
  }
  
  .btn:hover {
    background-color: #240785;
    color: #fff !important;
    box-shadow: 0 0 5px rgb(2, 63, 63), 
    0 0 25px rgb(0, 0, 0), 
    0 0 50px rgb(2, 50, 50), 
    0 0 100px rgb(4, 99, 99),
    0 0 200px rgb(2, 58, 58);
    border-radius: 10px !important;
  }

  @media (max-width:460px) {
    #container{
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
    }
    
  }